html,
body {
  height: 100%;
  font-size: 16px;
  color: #222;
}

a {
  text-decoration: none;
  color: #222;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url('../images/index_bg.jpg');
  /* background-size: contain; */
  /* background-color: red; */
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 90px;
}

.header-title {
  padding-left: 80px;
  font-size: 24px;
  line-height: 60px;
  color: #ddd;
  background-image: url('../images/apple_logo.png');
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 60px 60px;
}

.header-nav {
  margin-left: auto;
}

.header-links {
  display: flex;
  list-style-type: none;
}

.header-links * + * {
  margin-left: 10px;
}

.header-link-item {
  width: 100px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.header-link-item > a {
  color: #333;
}

.header-link-item:hover {
  background-color: rgba(224, 224, 224, 0.3);
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main * + * {
  margin-top: 20px;
}

.main-link {
  padding: 10px 20px;
  color: #eee;
  background-color: #555;
}

.footer {
  height: 50px;
}

.footer-text {
  text-align: center;
  font-size: 0.8em;
  color: #ddd;
}
